{% liquid
  assign category_url = fallback_url
  if collection != blank
    assign category_url = collection.url
  endif

  assign category_image = collection.featured_image
  if category_image == blank and collection.products.first.featured_image != blank
    assign category_image = collection.products.first.featured_image
  endif
%}

<a class="veloute-category" href="{{ category_url }}">
  <div class="veloute-category__media">
    {% if category_image != blank %}
      {{ category_image | image_url: width: 1000 | image_tag: loading: 'lazy', sizes: '(min-width: 990px) 33vw, 100vw', alt: title }}
    {% else %}
      {{ 'collection-2' | placeholder_svg_tag }}
    {% endif %}
  </div>
  <div class="veloute-category__text">
    <h3>{{ title }}</h3>
    <span class="veloute-link">Shoppen</span>
  </div>
</a>
